body {
    padding-left: 50px;
    
    background-color: blanchedalmond;
}

hr
{
    
    border-style: none;
    border-color: grey;
    border-top-style:dotted;
    border-width: 10px;
    width: 10%;
    height: 5px;

   
}
#contactme:hover{

    background-color:cornflowerblue;
        
}
#orderlist:hover
{
    background-color: cornflowerblue;
    width: 16%;
}
#experience:hover{
    background-color: cornflowerblue;
    width: 21%;
}
#anas:hover{
    background-color: lightslategray;
}
h1:hover
{
  
    color: rgb(0, 225, 255);
    background-color: cyan;
    width: 20%;
}
h2:hover
{
   
    color: rgb(0, 225, 255);
    background-color: cyan;
    width: 10%;
}
img
{
    border-radius: 100%;
    
   
    width: 170px;
    height: 200px;  ;
}
#table2
{
    border : 1px; 
    font-size:20px;
    
     border-collapse:collapse;
    
 }
 #link1:hover
 {
   background-color: white;
 

 }
 #contact:hover
 {
    background-color: tomato;
    width: 30%;
    height: 20px;
 }
